<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjs.dz.rzxt3">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 屏幕自适应 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- OpenGLES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="56MiMCMDjGL54PGwAAc6zInHlWX1t51v" />

        <activity
            android:name=".LoadingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_pact"
            android:theme="@style/AppTheme.NoActionBar" />
         <activity
         android:name=".MyActivity"
         android:label="@string/title_activity_pact"
         android:theme="@style/AppTheme.NoActionBar">
         </activity>
        <activity
            android:name=".ItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_pact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProInfoActivity"
            android:label="@string/title_activity_pact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DownMaterialActivity"
            android:label="@string/title_activity_pact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UploadReportActivity"
            android:label="@string/title_activity_pact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MenuUploadActivity"
            android:label="@string/title_activity_pact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ClearActivity"
            android:label="@string/title_activity_pact"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
    </application>

</manifest>